#facebook-login {
    background-image: url("../img/facebook_button.png");
    background-color: #ccc;
    width: 155px;
    height: 30px;
    display: none;
}

.footer {
	background-color: #e5e5e5;
	height: 63px;
}
