.footer {
	background-color: #e5e5e5;
	height: 63px;
}

.header {
	background: #000 url('/static/img/tsuru_maps.png') no-repeat fixed -530px -830px;
	color: #fff;
}

.header img {
	margin-top: -15px;
}

.header .main {
	padding: 85px 0;
}

.header h1 {
	font-size: 70px;
	font-weight: normal;
	margin: 0 0 50px;
}

.header p {
	font-size: 25px;
	font-weight: lighter;
}

.thanks h3 {
	font-size: 37px;
	font-weight: normal;
}

.thanks h2 {
	font-size: 15px;
}

.navegation {
	background-color: #171717;
}

.header .navbar-inner {
	background: #171717;
	border: none;
	padding: 13px 0 0;
}

.header .navbar .nav > li > a {
	color: #fff;
	text-shadow: none;
	font-weight: lighter;
}

.header .navbar .nav > li {
	padding-right: 25px;
}

.content {
	margin-bottom: 30px;
}

.content .title {
	text-align: center;
	margin-bottom: 30px;
}

.content p {
	font-size: 13px;
	font-weight: lighter;
}

.content .msg {
	border-bottom: 1px solid #e7e7e7;
	margin: 30px;
	padding-bottom: 30px;
}

.content .legal-note {
	font-size: 13px;
	font-weight: lighter;
	font-style: italic;
}

.thanks .share-btns {
	list-style: none;
	margin: 0;
}

.thanks .share-btns li {
	display: inline;
}

.content form label {
	font-weight: lighter;
	font-size: 13px;
}

.content input {
	border: 1px solid #ccc;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	height: 26px;
}

input[type=submit] {
	background-color: #000;
	color: #fff;
	border: none;
	font-weight: lighter;
	font-size: 13px;
	padding: 6px 22px;
	height: 32px;
}

.content .login-btns ul {
	list-style: none;
}

.content .login-btns ul li {
	margin: 5px 0 76px;
}

.content .login-btns span {
	cursor: pointer;
}

.header .navbar .nav > li > a.active {
	font-weight: bold;
}

a:hover {
    text-decoration: none;
}
