// -----------------------------------------------------------------------------
//
// Layout component
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Placeholders
// -----------------------------------------------------------------------------

%column {
	float: direction($reading-direction);
}

%container {

	&:after {
		clear: both;
		content: "";
		display: table;
	}

}

%section {
	clear: both;
	display: block;
}

// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------

@mixin gutter($value) {
	padding-left: relative($value / 2);
	padding-right: relative($value / 2);
}
