@charset "UTF-8";

// -----------------------------------------------------------------------------
//
// Application
//
// Application styles.
//
// -----------------------------------------------------------------------------

@import
	"application/fonts",
	"application/functions",
	"application/variables";

@import
	"application/component/button",
	"application/component/layout";

// -----------------------------------------------------------------------------
// Global
// -----------------------------------------------------------------------------

* {
	background: none;
	border: 0;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	font-style: normal;
	font-weight: 500;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

*[disabled] {
	cursor: not-allowed;
	user-select: none;
}

*[hidden] {
	display: none;
}

// -----------------------------------------------------------------------------
// Metadata elements
//
// base
// command
// link
// meta
// noscript
// script
// style
// template
// title
//
// -----------------------------------------------------------------------------

template {
	display: none;
}

// -----------------------------------------------------------------------------
// Root element
//
// html
//
// -----------------------------------------------------------------------------

html {
	font-size: $font-size;
}

// -----------------------------------------------------------------------------
// Sectioning elements
//
// address
// article
// aside
// body
// footer
// header
// main
// nav
// section
//
// -----------------------------------------------------------------------------

article,
aside,
footer,
header,
main,
nav,
section {
	display: block;
}

body {
	color: $font-color;
	direction: $reading-direction;
	font-family: $font-family;
	font-size: font-size($font-size);
	line-height: font-leading($font-size);
}

// -----------------------------------------------------------------------------
// Heading elements
//
// h1
// h2
// h3
// h4
// h5
// h6
//
// -----------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $font-color-headings;
}

h1 {
	line-height: font-leading(55px, 1);
	font-size: font-size(55px);
}

h2 {
	line-height: font-leading(42, 1);
	font-size: font-size(42px);
}

h3 {
	line-height: font-leading(34px, 1);
	font-size: font-size(34px);
}

h4 {
	line-height: font-leading(26px, 1);
	font-size: font-size(26px);
}

h5 {
	line-height: font-leading(21px, 1);
	font-size: font-size(21px);
}

h6 {
	line-height: font-leading($font-size, 1);
	font-size: font-size($font-size);
}

// -----------------------------------------------------------------------------
// Flow elements
//
// blockquote
// dd
// dl
// dt
// figcaption
// figure
// hr
// ol
// p
// pre
// ul
//
// -----------------------------------------------------------------------------

figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

hr {
	height: 0;
}

pre {
	white-space: pre-wrap;
}

// -----------------------------------------------------------------------------
// Phrasing elements
//
// a
// abbr
// b
// bdi
// bdo
// cite
// code
// dfn
// em
// i
// kbd
// mark
// q
// rp
// rt
// ruby
// s
// samp
// small
// strong
// sub
// sup
// time
// u
// var
//
// -----------------------------------------------------------------------------

code,
kbd,
samp {
	font-family: $font-family-monospace;
}

sub,
sup {
	font-size: 80%;
	line-height: 0;
}

b {
	font-weight: 900;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

// -----------------------------------------------------------------------------
// Edit elements
//
// del
// ins
//
// -----------------------------------------------------------------------------

//~

// -----------------------------------------------------------------------------
// Embedded elements
//
// area
// audio
// canvas
// embed
// iframe
// img
// map
// math
// object
// param
// source
// svg
// track
// video
//
// -----------------------------------------------------------------------------

audio,
canvas,
video {
	display: block;
}

// -----------------------------------------------------------------------------
// Tabular elements
//
// caption
// col
// colgroup
// table
// tbody
// td
// tfoot
// th
// thead
// tr
//
// -----------------------------------------------------------------------------

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

// -----------------------------------------------------------------------------
// Form elements
//
// button
// datalist
// fieldset
// form
// input
// keygen
// label
// legend
// meter
// optgroup
// option
// output
// progress
// select
// textarea
//
// -----------------------------------------------------------------------------

datalist {
	display: none;
}

// -----------------------------------------------------------------------------
// Interactive elements
//
// details
// menu
// menuitem
// summary
//
// -----------------------------------------------------------------------------

//~

// -----------------------------------------------------------------------------
// Custom placeholders
// -----------------------------------------------------------------------------

%font-smoothing {
	-webkit-font-smoothing: antialiased;
}

%font-smoothing-reset {
	-webkit-font-smoothing: subpixel-antialiased;
}

// -----------------------------------------------------------------------------
// Layout module
// -----------------------------------------------------------------------------

.column {
	@extend %column;
}

.container {
	@extend %container;
}

.section {
	@extend %section;
}

// -----------------------------------------------------------------------------
// Brand module
// -----------------------------------------------------------------------------

.brand-image {
	display: block;
	height: 100%;
}

// -----------------------------------------------------------------------------
// Navigation module
// -----------------------------------------------------------------------------

.navigation-items {
	@extend %container;
}

.navigation-item {
	float: direction($reading-direction);

	+ .navigation-item {
		margin-left: proportional(1);
	}

}

.navigation-link {
	color: inherit;
	display: block;
	padding: proportional(1.5);

	&:hover {
		color: $color-secondary;
	}

}

// -----------------------------------------------------------------------------
// Section module
// -----------------------------------------------------------------------------

.section-header {
	text-align: center;
}

.section-title {
	@extend %font-smoothing;

	font-size: font-size(55px);
	font-weight: $font-weight-thin;
	letter-spacing: -0.035em;
	line-height: font-leading(55px, 1);
	margin-bottom: proportional(12);
}

.section-subtitle {
	font-size: font-size(21px);
	font-weight: $font-weight-regular;
	line-height: font-leading(21px, 1);
	margin-bottom: proportional(3);
}

.section-leader {
	font-size: font-size(21px);
	font-weight: $font-weight-light;
	line-height: font-leading(21px);
	margin: 0 auto proportional(10);
	text-align: center;
	width: 50%;
}

.section-button {
	font-size: font-size(13px);
	letter-spacing: 0.1em;
	line-height: font-leading(13px);
	text-transform: uppercase;
}

// -----------------------------------------------------------------------------
// Feature module
// -----------------------------------------------------------------------------

.feature {
	text-align: center;
}

.feature-description {
	@extend %font-smoothing;

	font-weight: $font-weight-regular;
	margin-bottom: proportional(3);
}

// -----------------------------------------------------------------------------
// Social module
// -----------------------------------------------------------------------------

.social {
	color: $color-primary;
}

.social-item {
	float: left;
	text-align: center;
}

.social-icon {
	@extend %font-smoothing;

	background-color: $color-dark;
	border-radius: 100em;
	color: $color-light;
	display: block;
	font-size: font-size(32px);
	height: proportional(10);
	line-height: proportional(10);
	margin: 0 auto proportional(2);
	text-align: center;
	transition: background-color 0.25s ease;
	width: proportional(10);
}

.social-link {

	&:hover {

		.social-icon {
			background-color: $color-secondary;
		}

	}

}

.twitter {

	.social-icon {
		background-color: $color-twitter;
	}

}

.google-plus {

	.social-icon {
		background-color: $color-google;
	}

}

// -----------------------------------------------------------------------------
// Button module
// -----------------------------------------------------------------------------

.button {
	@extend %button;
}

.button-icon {
	display: block;
	float: left;
	font-size: font-size(24px);
	line-height: font-leading(24px, 1);
	margin-right: proportional(1);
}

// -----------------------------------------------------------------------------
// Header section
// -----------------------------------------------------------------------------

#header {
	@extend %font-smoothing;

	background-color: $color-primary;
	padding: proportional(4);

	.brand {
		float: direction($reading-direction);
		height: proportional(3);
		margin: proportional(1.5) 0;
	}

	.navigation {
		color: $color-light;
		float: opposite-direction($reading-direction);
	}

}

// -----------------------------------------------------------------------------
// Hero section
// -----------------------------------------------------------------------------

#hero {
	@extend %font-smoothing;

	background-image: linear-gradient(135deg, rgba(255, 51, 85, 1) 0%, rgba(255, 153, 51, 1) 100%);
	color: $color-light;
	padding: proportional(16) 0;
	text-align: center;

	h1 {
		color: inherit;
		font-size: font-size(42px);
		font-weight: $font-weight-thin;
		line-height: font-leading(42px, 1);
		margin-bottom: proportional(3);
		text-transform: uppercase;
		letter-spacing: -0.05em;
	}

	p {
		font-size: font-size(21px);
		line-height: font-leading(21px);
		margin-bottom: proportional(6);
		padding: 0 25%;
	}

	.button {
		@extend %button-large;
		@extend %button;
		@extend %font-smoothing-reset;

		box-shadow: 0 0 0 relative(6px) rgba(255, 255, 255, 0.5);
		letter-spacing: 0.1em;
	}

	.github {
		background-color: $color-github;
	}

}

// -----------------------------------------------------------------------------
// Content section
// -----------------------------------------------------------------------------

#content {

	.content-container {
		margin: 0 auto;
		max-width: relative(960px);
	}

	.content-section {
		padding: proportional(8) 0 proportional(12);
	}

}

// -----------------------------------------------------------------------------
// Features section
// -----------------------------------------------------------------------------

#features {

	.column {
		width: (100% / 3);
	}

	.button {
		@extend %button-medium;
	}

}

// -----------------------------------------------------------------------------
// Community section
// -----------------------------------------------------------------------------

#community {
	background-color: #f7eeeb;

	.section-title {
		margin-bottom: proportional(5);
	}

	.column {
		width: (100% / 5);
	}

}

// -----------------------------------------------------------------------------
// Footer section
// -----------------------------------------------------------------------------

#footer {
	background-color: $color-primary;
	padding: proportional(12) 0;
}

// -----------------------------------------------------------------------------
// Viewport media query
// -----------------------------------------------------------------------------

@viewport {
	width: device-width;
	zoom: 1;
}
