@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300);
.button, #hero .try .button {
  background-color: #223;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 4px 16px;
  transition: background-color 0.25s ease;
  user-select: none; }
  .button:hover, #hero .try .button:hover {
    background-color: #27273b; }
  .button:active, #hero .try .button:active {
    background-color: #1d1d2b; }

#features .button {
  padding: 8px 16px; }

#hero .try .button {
  padding: 12px 16px; }

@media screen and (min-width: 800px) {
  .column {
    float: left; } }

.container:after, .navigation-items:after {
  clear: both;
  content: "";
  display: table; }

.section {
  clear: both;
  display: block; }

* {
  background: none;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }

*[disabled] {
  cursor: not-allowed;
  user-select: none; }

*[hidden] {
  display: none; }

template {
  display: none; }

html {
  font-size: 16px; }

article, aside, footer, header, main, nav, section {
  display: block; }

body {
  background-color: #223;
  color: #555566;
  direction: ltr;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  color: #444455; }

h1, h2 {
  line-height: 48px;
  font-size: 42px; }

h3 {
  line-height: 40px;
  font-size: 34px; }

h4 {
  line-height: 32px;
  font-size: 26px; }

h5 {
  line-height: 24px;
  font-size: 21px; }

h6 {
  line-height: 16px;
  font-size: 16px; }

figure, figcaption {
  display: block; }

ol, ul {
  list-style: none; }

hr {
  height: 0; }

pre {
  white-space: pre-wrap; }

code, kbd, samp {
  font-family: Menlo, Monaco, Consolas, Courier, monospace; }

sub, sup {
  font-size: 80%;
  line-height: 0; }

b {
  font-weight: 900; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

audio, canvas, video {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

datalist {
  display: none; }

.section-title, .feature-description, .social-icon, #header, #hero {
  -webkit-font-smoothing: antialiased; }

#hero .try .button {
  -webkit-font-smoothing: subpixel-antialiased; }

.brand-image {
  display: block;
  width: 100%; }

.brand-name {
  display: none; }

.burger-layer, .navigation-button::before, .navigation-button::after {
  display: block;
  width: 100%;
  height: 20%;
  background: white;
  transition: background-color 0.3s ease; }

.navigation {
  width: 100%;
  color: #fff;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease; }
  @media screen and (min-width: 800px) {
    .navigation {
      position: relative;
      top: 2px;
      float: right;
      width: auto;
      height: auto; } }
  .navigation.navigation--is-open {
    height: 200px;
    overflow: visible; }

.navigation-button {
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 20px;
  border: none;
  outline: none; }
  @media screen and (min-width: 800px) {
    .navigation-button {
      display: none; } }
  .navigation-button::before, .navigation-button::after {
    content: '';
    position: absolute; }
  .navigation-button::before {
    top: 0; }
  .navigation-button::after {
    bottom: 0; }
  .navigation-button.navigation--is-open::before, .navigation-button.navigation--is-open::after, .navigation-button.navigation--is-open .burger-layer, .navigation-button.navigation--is-open .navigation-button::before, .navigation-button.navigation--is-open .navigation-button::after {
    background: #3d9; }

.navigation-items {
  margin-top: 20px;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition-delay: 0.15s; }
  .navigation--is-open .navigation-items {
    opacity: 1; }
  @media screen and (min-width: 800px) {
    .navigation-items {
      margin-top: 0;
      font-size: 16px;
      opacity: 1; } }

@media screen and (min-width: 800px) {
  .navigation-item {
    display: inline-block; }
    .navigation-item + .navigation-item {
      margin-left: 30px; } }

.navigation-link {
  display: block;
  padding: 14px 0;
  color: inherit; }
  .navigation-link:hover {
    color: #3d9; }
  @media screen and (min-width: 800px) {
    .navigation-link {
      padding: 0; } }

.section-header {
  text-align: center; }

.section-title {
  font-size: 55px;
  font-weight: 100;
  letter-spacing: -0.035em;
  line-height: 56px;
  margin-bottom: 96px; }

.section-subtitle {
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px; }

.section-leader {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 auto 80px;
  text-align: center;
  width: 100%; }

.section-button {
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 24px;
  text-transform: uppercase; }

.feature {
  text-align: center;
  padding: 0 5%;
  background-color: #FFF; }
  @media screen and (min-width: 800px) {
    .feature {
      padding: 0; } }
  .feature + .feature {
    margin-top: 50px; }
    @media screen and (min-width: 800px) {
      .feature + .feature {
        margin-top: 0; } }

.feature-description {
  font-weight: 500;
  margin-bottom: 24px; }

.social {
  color: #223; }

@media screen and (min-width: 800px) {
  .social-item {
    float: left;
    text-align: center; } }

.social-icon {
  background-color: #223;
  border-radius: 100em;
  color: #fff;
  display: inline-block;
  font-size: 32px;
  text-align: center;
  transition: background-color 0.25s ease;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 8px 10px 8px 0;
  vertical-align: sub; }
  @media screen and (min-width: 800px) {
    .social-icon {
      display: block;
      width: 80px;
      height: 80px;
      line-height: 80px;
      margin: 0 auto 16px; } }

.social-link {
  display: block;
  width: 100%; }
  @media screen and (min-width: 800px) {
    .social-link {
      display: inline;
      width: auto; } }
  .social-link:hover .social-icon {
    background-color: #3d9; }

.google-plus .social-icon {
  background-color: #dd4b39; }

.button-icon {
  display: block;
  float: left;
  font-size: 24px;
  line-height: 24px;
  margin-right: 8px; }

#header {
  background-color: #223;
  padding: 32px;
  position: fixed;
  width: 100%;
  z-index: 100; }
  @media screen and (min-width: 800px) {
    #header {
      padding: 42px; } }
  #header .container {
    position: relative;
    padding-bottom: 4px; }
    @media screen and (min-width: 800px) {
      #header .container {
        float: left;
        padding: 0; } }
  #header .brand {
    width: 55%;
    max-width: 260px; }
    @media screen and (min-width: 800px) {
      #header .brand {
        width: 120px; } }

#hero {
  padding: 180px 0 90px 0;
  background-image: linear-gradient(135deg, #ff3355 0%, #ff9933 100%);
  color: #fff;
  text-align: center; }
  @media screen and (min-width: 800px) {
    #hero {
      padding: 240px 0 128px 0; } }
  #hero h1 {
    color: inherit;
    font-size: 42px;
    font-weight: 100;
    line-height: 48px;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: -0.05em; }
  #hero p {
    padding: 0 10%;
    margin-bottom: 48px;
    font-size: 30px;
    line-height: 160%; }
    @media screen and (min-width: 800px) {
      #hero p {
        padding: 0 25%;
        font-size: 21px; } }
  #hero .try {
    display: block;
    position: relative; }
    @media screen and (min-width: 800px) {
      #hero .try {
        display: inline-block; } }
    #hero .try .button {
      width: 90%;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
      letter-spacing: 0.1em; }
      @media screen and (min-width: 800px) {
        #hero .try .button {
          width: auto; } }
    #hero .try .caret {
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      display: inline-block;
      vertical-align: middle;
      border-width: 5px 5px 0; }
    #hero .try .dropdown-menu {
      display: none;
      position: absolute;
      left: 50%;
      width: calc(90% + 4px);
      transform: translateX(-50%);
      padding: 10px 0;
      text-align: center;
      font-size: 16px;
      background-color: #fff;
      color: #000;
      top: 100%;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      margin: 2px 0 0;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
      @media screen and (min-width: 800px) {
        #hero .try .dropdown-menu {
          width: 250px;
          left: -2px;
          transform: none;
          padding: 6px 0 6px 17px;
          text-align: left;
          font-size: 14px; } }
    #hero .try .dropdown-menu-link {
      display: block;
      padding: 10px 0px; }
      @media screen and (min-width: 800px) {
        #hero .try .dropdown-menu-link {
          padding: 5px 0px; } }
    #hero .try .open {
      display: block; }
  #hero .dropdown-menu-link:hover {
    color: #3d9; }
  #hero .github {
    background-color: #171515; }

#content .content-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 5%; }
  @media screen and (min-width: 800px) {
    #content .content-container {
      padding: 0; } }
#content .content-section {
  padding: 50px 0; }
  @media screen and (min-width: 800px) {
    #content .content-section {
      padding: 64px 0 96px 0; } }

#features {
  background-color: #fff; }
  @media screen and (min-width: 800px) {
    #features .column {
      width: 33.33333%; } }
  @media screen and (max-width: 800px) {
    #features .section-title {
      margin-bottom: 50px; } }

#trusted {
  background-color: #f7eeeb; }
  #trusted .section-title {
    margin-bottom: 40px; }

.trusted {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center; }
  @media screen and (min-width: 800px) {
    .trusted {
      flex-flow: row wrap; } }
  @media screen and (min-width: 1024px) {
    .trusted {
      flex-flow: row wrap; } }

.trusted-item {
  padding: 20px; }
  .trusted-item.jb img {
    width: 100%; }
  .trusted-item.nuveo img {
    width: 100%; }
  .trusted-item.filmow img {
    width: 100%; }
  @media screen and (min-width: 800px) {
    .trusted-item {
      padding: 50px 25px 0 25px;
      width: 25%; }
      .trusted-item.hu img {
        width: 55%; }
      .trusted-item.gcom img {
        width: 70%; }
      .trusted-item img {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%; } }

#community {
  background-color: #fff; }
  #community .section-title {
    font-size: 45px;
    margin-bottom: 40px; }
    @media screen and (min-width: 800px) {
      #community .section-title {
        font-size: 55px; } }
  @media screen and (min-width: 800px) {
    #community .column {
      width: 25%; } }

#footer {
  background-color: #223;
  padding: 50px 0; }
  @media screen and (min-width: 800px) {
    #footer {
      padding: 96px 0; } }

@viewport {
  width: device-width;
  zoom: 1; }

/*# sourceMappingURL=application.css.map */
