<html>
<head>
	<title>try tsuru</title>
	<link href="/static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/static/css/index.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row main">
				<div class="span2">
					<a class="brand" href="#"><img src="/static/img/logo_tsuru.png"></a>
				</div>
				<div class="span10">
					<h1>TSURU</h1>
					<p>open source platform as a service</p>
				</div>
			</div>
		</div>
		<div class="navegation">
			<div class="container">
				<div class="row">
					<div class="navbar">
						<div class="navbar-inner">
							<ul class="nav">
								<li><a href="http://try.tsuru.io" class="active">Try</a></li>
								<li><a href="http://globocom.github.io/tsuru/community.html">Community</a></li>
								<li><a href="http://docs.tsuru.io/en/latest/">Documentation</a></li>
								<li><a href="https://github.com/globocom/tsuru">Code</a></li>
								<li><a href="http://globocom.github.io/tsuru/software.html">Software</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content row">
			<div class="span12 msg">
				<h2 class="title">Try tsuru</h2>
				<p>A few days ago when we've got some <a href="https://news.ycombinator.com/item?id=5436648" target="_blank">attention</a> in the <a href="http://www.wired.com/wiredenterprise/2013/03/tsuru/" target="_blank">news</a>, we were asked to provide a simple way to try out tsuru. So in a few weeks, we're planning to launch a public cloud PaaS powered by tsuru for you to test what we believe to be the best open source platform as a service in the world.</p>
				<p>Better all, it will be <b>entirely free</b> during all the private beta testing period.</p>
				<p>Use the form below to stay connected with us and to get a chance to be one of the first to try it out for free.</p>

				<p>We're working hard hoping to get a seat for all of you.</p>

				<p>Tsuru team.</p>
			</div>
			{% block content %}{% endblock %}
		</div>
	</div>
	<div class="footer"></div>
<script type="text/javascript" src="/static/js/facebook.js"></script>
<script type="text/javascript" src="/static/js/gplus.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-6912161-11', 'tsuru.io');
ga('send', 'pageview');
</script>
</body>
</html>
