<html>
<head>
	<title>try tsuru</title>
	<link href="/static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/static/css/index.css" media="all" rel="stylesheet" type="text/css" />

	<meta property="og:url" content="http://try.tsuru.io" />
	<meta property="og:image" content="/static/img/logo_tsuru.png" />
	<meta property="og:description" content="try.tsuru.io to apply to a chance to play for free in tsuru.io - the Open Source Polyglot PaaS. #paas #opensource #golang" />
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row main">
				<div class="span2">
					<a class="brand" href="#"><img src="/static/img/logo_tsuru.png"></a>
				</div>
				<div class="span10">
					<h1>TSURU</h1>
					<p>open source platform as a service</p>
				</div>
			</div>
		</div>
		<div class="navegation">
			<div class="container">
				<div class="row">
					<div class="navbar">
						<div class="navbar-inner">
							<ul class="nav">
								<li><a href="/" class="active">Try</a></li>
								<li><a href="/community">Community</a></li>
								<li><a href="http://docs.tsuru.io/en/latest/">Documentation</a></li>
								<li><a href="https://github.com/globocom/tsuru">Code</a></li>
								<li><a href="/software">Software</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content row">
			{% block content %}{% endblock %}
		</div>
	</div>
	<div class="footer"></div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/facebook.js"></script>
<script type="text/javascript" src="/static/js/gplus.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-6912161-11', 'tsuru.io');
ga('send', 'pageview');
</script>
</body>
</html>
