<html>
<head>
	<title>{% trans %}try tsuru{% endtrans %}</title>
	<link href="{{url_for("static", filename="css/bootstrap.css")}}" media="all" rel="stylesheet" type="text/css">
	<link href="{{url_for("static", filename="css/index.css")}}" media="all" rel="stylesheet" type="text/css">
	<meta property="og:url" content="http://try.tsuru.io">
	<meta property="og:image" content="{{url_for("static", filename="img/logo_tsuru.png")}}">
	<meta property="og:description" content="{% trans %}try.tsuru.io to apply to a chance to play for free in tsuru.io - the Open Source Polyglot PaaS. #paas #opensource #golang{% endtrans %}" />
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row main">
				<div class="span10">
					<h1>TSURU</h1>
					<p>{% trans %}open source platform as a service{% endtrans %}</p>
				</div>
			</div>
		</div>
		<div class="navegation">
			<div class="container">
				<div class="row">
					<div class="navbar">
						<div class="navbar-inner">
							<ul class="nav">
								<li><a href="{{url_for("try_tsuru")}}" class="active">{% trans %}Try{% endtrans %}</a></li>
								<li><a href="{{url_for("community")}}">{% trans %}Community{% endtrans %}</a></li>
								<li><a href="http://docs.tsuru.io/en/latest/">{% trans %}Documentation{% endtrans %}</a></li>
								<li><a href="https://github.com/globocom/tsuru">{% trans %}Code{% endtrans %}</a></li>
								<li><a href="{{url_for("about")}}">{% trans %}About{% endtrans %}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content row">
			{% block content %}{% endblock %}
		</div>
	</div>
	<div class="footer"></div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{url_for("static", filename="js/facebook.js")}}"></script>
<script type="text/javascript" src="{{url_for("static", filename="js/gplus.js")}}"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-6912161-11', 'tsuru.io');
ga('send', 'pageview');
</script>
</body>
</html>
