{% extends "base.html" %}
{% block content %}
<div class="span12 community">
    <div class="span12">
        <h3>Mailing List</h3>
        <p><a href="https://groups.google.com/forum/?fromgroups#!forum/tsuru-users">General List</a></p>
        <p><a href="https://groups.google.com/forum/?fromgroups#!forum/tsuru-dev">Development List</a></p>
    </div>
    <div class="span12">
        <h3>IRC</h3>
        <p>#tsuru on Freenode <a href="http://webchat.freenode.net/">Pop In</a> (via browser client)</p>
    </div>
    <div class="span12">
        <h3>Social Networks</h3>
        <p>Twitter: <a href="https://twitter.com/tsurupaas">@tsurupaas</a></p>
    </div>
</div>
{% endblock %}