{% extends "base.html" %}
{% block title %}{% trans %}Community{% endtrans %} | {{super()}}{% endblock %}
{% block og-title %}{% trans %}Community{% endtrans %} | {{super()}}{% endblock %}

{% block og-url %}
<meta property="og:url" content="http://tsuru.io/community">
{% endblock %}

{% block content %}
<div class="container">
    <div class="content row">
        <div class="span12 msg">
        	<h2 class="title">{% trans %}Community{% endtrans %}</h2>
        </div>
        <div class="span12">
        	<h3>{% trans %}Mailing List{% endtrans %}</h3>
        	<p><a href="https://groups.google.com/forum/?fromgroups#!forum/tsuru-users">{% trans %}General List{% endtrans %}</a></p>
        	<p><a href="https://groups.google.com/forum/?fromgroups#!forum/tsuru-dev">{% trans %}Development List{% endtrans %}</a></p>
        </div>
        <div class="span12">
        	<h3>IRC</h3>
        	<p>{% trans %}#tsuru on Freenode <a href="http://webchat.freenode.net/">Pop In</a> (via browser client){% endtrans %}</p>
        </div>
        <div class="span12">
        	<h3>{% trans %}Social Networks{% endtrans %}</h3>
        	<p>Twitter: <a href="https://twitter.com/tsurupaas">@tsurupaas</a></p>
        	<p>Google+: <a href="https://plus.google.com/118205831863820582274">Tsuru</a></p>
        </div>
    </div>
</div>
{% endblock %}
