{% extends "base.html" %}
{% block title %}{% trans %}Thank you{% endtrans %} | {% trans %}Try tsuru{% endtrans %}{% endblock %}

{% block langselect %}{% endblock %}

{% block content %}
<div class="container">
	<div class="content row">
		<div class="span12 msg">
			<h2 class="title">{% trans %}Try tsuru{% endtrans %}</h2>
		</div>
		<div class="thanks span6">
			<h3>{% trans %}Thanks!{% endtrans %}</h3>
			<p>{% trans %}You will get to try tsuru very soon. {% endtrans %}</p>
			{% if not registered %}
			<p>{% trans %}Help us to know you better. Give some more information about you.{% endtrans %}</p>
			{% endif %}
			<h2>{% trans %}Share with your friends{% endtrans %}</h4>
			<ul class="share-btns">
				<li>
				<a href="http://www.facebook.com/share.php?u=http://try.tsuru.io%3Futm_source%3Dfacebook"><img src="{{url_for("static", filename="img/icone_facebook.png")}}"></a>
				</li>
				<li>
				<a href="https://plus.google.com/share?url=http://try.tsuru.io%3Futm_source%3Dgplus"><img src="{{url_for("static", filename="img/icone_gplus.png")}}"></a>
				</li>
				<li>
				<a href="http://twitter.com/share?text={% trans %}try.tsuru.io to apply for a chance to play for free in tsuru.io - the Open Source Polyglot PaaS {% endtrans %}%23opensource %23golang:&url=http://try.tsuru.io%3Futm_source%3Dtwitter"><img src="{{url_for("static", filename="img/icone_twitter.png")}}"></a>
				</li>
			</ul>
		</div>
		{% if not registered %}
		<div class="more-info span6">
			<form action="/survey" method="post" accept-charset="utf-8">
				{{ form.csrf_token }}
				{{ form.email }}
				{{ form.signature }}
				<div class="row">
					<div class="span3 control-group{% if form.work.errors %} error{% endif %}">
						{{ form.work.label }}
						{{ form.work }}
					</div>
					<div class="span3 control-group{% if form.country.errors %} error{% endif %}">
						{{ form.country.label }}
						{{ form.country }}
					</div>
				</div>
				<div class="row">
					<div class="span6 control-group{% if form.organization.errors %} error{% endif %}">
						{{ form.organization.label }}
						{{ form.organization }}
					</div>
					<div class="span6 control-group{% if form.why.errors %} error{% endif %}">
						{{ form.why.label }}
						{{ form.why }}
					</div>
				</div>
				<input type="submit" value="submit" />
			</form>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
