{% extends "base.html" %}
{% block content %}
<div class="span12 msg">
	<h2 class="title">Try tsuru</h2>
	<p>A few days ago when we've got some <a href="https://news.ycombinator.com/item?id=5436648" target="_blank">attention</a> in the <a href="http://www.wired.com/wiredenterprise/2013/03/tsuru/" target="_blank">news</a>, we were asked to provide a simple way to try out tsuru. So in a few weeks, we're planning to launch a public cloud PaaS powered by tsuru for you to test what we believe to be the best open source platform as a service in the world.</p>
	<p>Better all, it will be <b>entirely free</b> during all the private beta testing period.</p>
	<p>Use the form below to stay connected with us and to get a chance to be one of the first to try it out for free.</p>

	<p>We're working hard hoping to get a seat for all of you.</p>

	<p>Tsuru team.</p>
</div>
<div class="login-btns span6">
	<ul>
		<li>
			<a href="#" id="facebook-register"><img src="/static/img/botao_facebook.png"></a>
			<div id="fb-root"></div>
		</li>

		<li>
            <a href="https://github.com/login/oauth/authorize?client_id={{ github_client_id }}&scope=user:email"><img src="/static/img/botao_github.png"></a>
		</li>

		<li>
			<span id="signinButton"><img src="/static/img/botao_gplus.png"></span>
		</li>
	</ul>
</div>
<div class="login-form span6">
	<form action="index_submit" method="get" accept-charset="utf-8">
		<div class="row">
			<div class="span3">
				<label for="first_name">First name</label><input type="text" first_name="first_name" value="" id="first_name">
			</div>
			<div class="span3">
				<label for="last_name">Last name</label><input type="text" last_name="last_name" value="" id="last_name">
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<label for="email">Email</label><input type="text" email="email" value="" id="email">
			</div>
		</div>
		<p><input type="submit" value="Submit"></p>
		<p class="legal-note">Legal Note: submitting this form does not obligate you to participate, and does not obligate us to select you. It’s simply a way for us to assemble a pool of cool people (you!) who wants to try out tsuru.</p>
	</form>
</div>
{% endblock %}
