{% extends "base.html" %}
{% block content %}
<div class="span12 msg">
	<h2 class="title">{% trans %}About Tsuru{% endtrans %}</h2>
</div>
<div class="span12">
	<p>{% trans %}Tsuru is an open source polyglot cloud application platform. With Tsuru, you don’t need to think about servers at all. You can write apps in the programming language of your choice, bind it with add-on resources such as SQL and NoSQL databases, memcached, redis, and many others. You manage your app using the Tsuru command-line tool and you deploy code using the Git revision control system, all running on the Tsuru infrastructure.{% endtrans %}</p>
</div>
{% endblock %}
