// -----------------------------------------------------------------------------
//
// Variables
//
// Application variables.
//
// -----------------------------------------------------------------------------

$reading-direction: ltr;

// -----------------------------------------------------------------------------
// Units
// -----------------------------------------------------------------------------

$relative: false;

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$font-color-headings: #444455;
$font-color: #555566;

$font-family: "Open Sans", sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, Courier, monospace;

$font-size: 16px;

$font-leading: 8px;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-thin: 100;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$color-light: #fff;
$color-dark: #223;

$color-primary: #223;
$color-secondary: #3d9;

$color-accent-primary: #f93;
$color-accent-secondary: #f35;

$color-facebook: #3b5998;
$color-github: #171515;
$color-google: #dd4b39;
$color-stack: #ef8236;

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

$button-color-background: $color-primary;
$button-color: $color-light;

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

$proportional-base: $font-leading;
